



.App{
  height: 100%;
  width: auto;
  background-color: #F5F5F5;
 

}

/* .box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #aaa;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  min-height: 200px;
  border: 2px #ccc solid;
  color: #fff;
} */
/* .nav{
  width: 1920px;
  height: 70px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
} */



